{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Job Listings" %} | Work News Platform{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="text-center mb-4">
        <h2 class="fw-bold">{% trans "Available Job Positions" %}</h2>
        <p class="text-muted">{% trans "Explore the opportunities to join our dynamic team." %}</p>
    </div>

    <div class="row">
        {% for job in jobs %}
        <div class="col-md-6 mb-4">
            <div class="card h-100 border-0 shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">{{ job.get_translated_header }}</h5>
                    <p class="card-text">{{ job.get_translated_attract_point }}</p>
                    <a href="{% url 'career' job.unique_id %}" class="btn btn-primary">{% trans "View Details" %}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    {% if jobs.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if jobs.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="{% trans 'First' %}">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ jobs.previous_page_number }}" aria-label="{% trans 'Previous' %}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in jobs.paginator.page_range %}
            {% if jobs.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% elif num > jobs.number|add:'-3' and num < jobs.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}
            {% if jobs.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ jobs.next_page_number }}" aria-label="{% trans 'Next' %}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ jobs.paginator.num_pages }}" aria-label="{% trans 'Last' %}">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
