

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
          Work News
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">
                        <i class="bi bi-house-door"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="#news">
                        <i class="bi bi-info-circle"></i> About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/news/' %}active{% endif %}" href="#reviews">
                        <i class="bi bi-newspaper"></i> News
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/career/' %}active{% endif %}" href="#contact">
                        <i class="bi bi-briefcase"></i> Career
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/company/' %}active{% endif %}" href="#contact">
                        <i class="bi bi-buildings"></i> Company
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="#contact">
                        <i class="bi bi-envelope"></i> Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
